<!--Main Page Promo-->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">snap.post.<span class="highlight">Trade-Off</span></h2>
        <p class="intro">
            A social bartering community where you can trade your wares!
        </p>
    </div><!--//container-->
</section><!--//promo-->

<!--About-->
<section id="about" class="about section">
    <div class="container">
        
        <h2 class="title text-center">What is Trade Off?</h2>
        <p class="intro text-center"><a href="#/">Trade Off</a> is a community on a mission to make it easy to get something you want without having to buy anything at all.</p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-camera"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">TradePost: Snap &#38 Post</h3>
                    <p>Simply <a href="#/register">register</a> an account with us, <b>snap</b> a picture of something you no longer want and <b>post</b> it to the app.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-commenting-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Chat to negotiate</h3>
                    <p>Find something interesting and would like to make an offer? Click on the TradePost and chat with the person directly to trade!</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Meet to Trade Off</h3>
                    <p>Trade Off also allows users to check out TradePosts within the area, so that they may choose an in-person swap over sending items by mail.</a> icons available.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section>

<!--Social Media-->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Start Trading</h2>
            <p class="intro  text-center">Join the Trade Off community to trade what you have for what you want! <br /> Create your&nbsp;<a href="#/register">Free Account</a>&nbsp;today!</p>
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->  
